html, body, header, #intro {
    height: 100%;
}

#section-home {
    background: url("pizza6.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#menu-header-text {
  text-align: center;
  padding-bottom: 15px;
}

.menu-link-2 p {
  text-align: center;
  /* color: #b8b8b8; */
  color: #989898;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
}

/* filter: brightness(50%);
-webkit-filter: brightness(50%);
-moz-filter: brightness(50%);
-o-filter: brightness(50%);
-ms-filter: brightness(50%); */


/*dk grey color: 3e4550*/

/*Playing around with styles from Eatwell*/

body {
  font-family: "Raleway", sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.6;
  color: #b8b8b8;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  -moz-transition: .3s all ease;
  transition: .3s all ease;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.45;
  color: #000;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.site-navbar-light {
  background: transparent !important;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
}

@media screen and (max-width: 600px) {
  .site-navbar-light {
    background: #0E0E0E !important;
    top: 0;
    position: relative;
  }
}

.site-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 960px) {
  .site-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.site-navbar-light .navbar-nav > .nav-item.site-cta a {
  color: #fff;
}

.site-navbar-light .navbar-nav > .nav-item.site-seperator {
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 960px) {
  .site-navbar-light .navbar-nav > .nav-item.site-seperator {
    padding-left: 0;
    margin-left: 0;
  }
}

.site-navbar-light .navbar-nav > .nav-item.site-seperator:before {
  position: absolute;
  content: "";
  top: 10px;
  bottom: 10px;
  left: 0;
  width: 2px;
  background: rgba(255, 255, 255, 0.05);
}

@media screen and (max-width: 960px) {
  .site-navbar-light .navbar-nav > .nav-item.site-seperator:before {
    display: none;
  }
}

.site-navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: .1em;
}

/*START new styles here */
.bg-image, .site-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.site-cover {
  background-position: center center;
}

.site-cover .site-heading {
  font-size: 75px;
  line-height: 1.34;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .site-cover .site-heading {
    font-size: 37px;
    line-height: 1.3;
  }
}

.site-cover .site-subheading, .site-cover p {
  color: rgba(255, 255, 255, 0.75);
  /* font-weight: 300; */
  font-family: "Raleway", sans-serif;
  filter: drop-shadow(16px 16px 16px black);
}

@media screen and (max-width: 768px) {
  .site-cover .btn {
    width: 100% !important;
    border: 1px solid white;
  }
}

.site-cover .site-vh-100 {
  min-height: 700px !important;
}

/* h5 {
  filter: drop-shadow(16px 16px 16px black);
} */

.contact-header {
  text-align: center;
  -ms-align-items: center;
  align-items: center;
}

#section-contact {
  background-color: #181818;
}

.contact-col {
  text-align: center;
}

.footer-copyright {
  color: rgba(255, 255, 255, 0.85);
}

/* #section-menu img {
  margin-left: 20px;
} */



/*CSS for Menu page*/
#menu-page-order-button {
  margin-top: 15px;
}

/* .contact-col p {
  text-align: center;
} */
